body {
    font-family: Arial, sans-serif;
}

#loginForm, #joinForm {
    margin-top: 20px;
}

label, input {
    display: block;
    margin: 5px 0;
}

button {
    margin-top: 10px;
}

#requests div {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}